/*Parant style*/
*{margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", serif;
}
html{background: rgb(17, 16, 16);
    margin: auto;
     }
body{background-color:rgb(245, 245, 245);
    width: 1200px;
    margin: auto;}
/* Parant style*/


header{
    border:1px solid rgb(0, 255, 170);
    width: 82%;
     margin: auto;}
nav>ol{display: flex;
        border: 1px dotted black;
        justify-content:space-between;
        align-items: center;
         margin: 20px 0px 20px 0px ;
        list-style: none;}

nav>ol>li:first-child{font-size: 30px;
                      color: rgb(14, 14, 14);
                      font-weight: 700;}
nav>ol>li:last-child>button{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;
    font-size: 20px;
    color: rgb(0, 106, 80);
    padding: 5px;
    font-weight: 700;}
/*Main*/
main{border: 1px solid red;
      width: 82%;
     margin: auto;}
main > .banner{border-radius: 18px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5%; 
    }     
main > .banner >.bannertext{border: 1px solid red;
                            width: 66%;}   
main > .banner >.bannertext>p{color: rgb(14, 14, 14);
    font-size: 36px;
    letter-spacing: .6px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;}
main > .banner >.bannertext>p>span{font-size: 20px;
                                        color: rgb(69, 72, 74);}
main > .banner >.bannertext>p>button{
    margin-top: 14px;
    border: none;
    color: white;
     background-color:rgb(0, 106, 80);
    border-radius: 6px;
    font-size: 20px;
    padding: 10px 17px;
    font-weight: 700;}  
    /* All Hover */
 main > .banner >.bannertext>p>button:hover{color: white;
    background-color: rgba(7, 41, 178, 0.945);}    
li:last-child>button:hover{color: white;
        background-color: rgba(7, 41, 178, 0.945);} 
    /* All Hover */
main > .banner >.bannerimg{border: 1px solid red;
                           width: 40%;}   
main > .banner >.bannerimg>img{width: 100%;}


/* Vision of Future  */
.VisOFfut{border: 1px solid black;
           margin: 100px 0px;}

.vis-cards{margin-top: 40px;
           border: 1px solid red;
           display: flex;          
           justify-content: space-between;
           gap:16px;}  
.vis-cards > .card{background-color: gainsboro;
                  padding: 20px;
                border-radius: 10px;
               display: flex;
               flex-direction: column;
                gap:20px;}   
.vis-cards > .card >img{width:50px;}        

.vis-cards > .card > .cardtitle{font-size: 17px;}        

.vis-cards > .card > .card-desc{font-size: 10px;}         
/*######Vision of Future######*/






/*****************Recent News***************************/

.R-New{
    border: 1px solid blue;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}



/* R-cont */


.R-header >h1 {
    font-size: 30px;
    color: rgb(13, 19, 33);

    font-weight: 700;
}

.R-header >p { font-size: 14px;
    color: rgba(13, 19, 33, 0.677);
    font-weight: 600;
    line-height: 21px;
    margin-top: 15px;
}


/* R-cont */
.R-cont {
    width:100%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid red;
}

.R-cont>.R-cont-texts {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.R-cont>.R-cont-texts>h1 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
}

.R-cont>.R-cont-texts>p {
    color: rgb(13, 19, 33);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.R-cont>.R-cont-texts>a>button {
    border-radius: 8px;
    background: rgb(0, 106, 80);
   color: white;
   border: none;
    opacity: 0.7;
    width: 110px;
    font-weight: 600;
    font-size: 15px;
    height: 40px;

}
.R-cont>.R-cont-texts>a>button:hover{background-color: green;
border: none;
border-radius: 6px;
color: white;
}

.img {height: 250px;
    border: 1px solid red;
}

.img>img {height: 100%;
    border-radius: 10px;
}

/*########Recent News#############*/




/************Donate Today****************** */
.donate-today-con{border: 1px solid red;
                   width:95%;
                   margin: auto;
                   text-align: center;
                   padding: 30px 0px;
                   display: flex;
                   flex-direction: column;
                   gap: 35px;
                }
.donateboxs{border: 1px solid red;
                  display: flex;
                   flex-direction:row;
                   justify-content: space-between;
                   gap: 20px;}
 
.donatetitle{font-size: 40px;
              margin-bottom: 10px;}
.donades{font-size: 15px;
         width: 95%;
         margin: auto;
        text-align: center;
        border: 1px solid red;
         line-height: 20px;}


.donateboxs > .box{background-color: white;
                    height: 100px;
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    font-size: 25px;
                    font-weight: 600;
                    align-items: center;
                    border-radius: 10px;
                 }

.donateboxs > .box:hover {background-color: green;
                          color: white;}






.donatbuttons > input {width: 95%;
                       border: none;
                        border-radius: 4px;
                        padding: 10px;
                       height: 34px;
                        margin-top: 7px;}
.donatbuttons > input::placeholder{text-align: center;
                                    font-size: 25px;}                        
.donatbuttons > button{
    border:none;
    background-color:darkgreen;
    color: white;
    border-radius: 6px;
    font-size: 25px;
    width: 200px;
    height: 70px;
    padding: 5px;
    font-weight: 700;
   margin-top:20px;
}                 
/*#############Donate Today##############* */










/*######Main#####*/
footer{border: green solid 2px;
        height: 100px;
         width: 82%;
        margin: auto;}     
      





